:root {
  --primary-color: #45140d;
  --secondary-color: #612511;
  --accent-color: #874010;
  --highlight-color: #b56602;
  --warning-color: #e79a00;
  --white: #fff;
  --black: #000;
  --error: #ff0000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
